<table class="border-violet ticket-table bg-transparent font-sudovar">
  <thead>
  <tr class="color-turquoise">
    <th>{{tablePrices['ticket-table-A'][0]['one-day-header']}}</th>
    <th>{{tablePrices['ticket-table-A'][0]['two-day-header']}}</th>
    <th>{{tablePrices['ticket-table-A'][0]['three-day-header']}}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="color-turquoise">
    <td>{{tablePrices['ticket-table-A'][0]['one-day-normal-ticket']}}</td>
    <td>{{tablePrices['ticket-table-A'][0]['two-day-normal-ticket']}}</td>
    <td>{{tablePrices['ticket-table-A'][0]['three-day-normal-ticket']}}</td>
  </tr>
  <tr class="color-turquoise">
    <td>{{tablePrices['ticket-table-A'][0]['one-day-early-ticket']}}</td>
    <td>{{tablePrices['ticket-table-A'][0]['two-day-early-ticket']}}</td>
    <td>{{tablePrices['ticket-table-A'][0]['three-day-early-ticket']}}</td>
  </tr>
  <tr class="color-turquoise">
    <td>{{tablePrices['ticket-table-A'][0]['one-day-vip-ticket']}}</td>
    <td>{{tablePrices['ticket-table-A'][0]['two-day-vip-ticket']}}</td>
    <td>{{tablePrices['ticket-table-A'][0]['three-day-vip-ticket']}}</td>
  </tr>
  </tbody>
</table>
