<header>
  <nav class="template-container header_left-nav">
    <button mat-fab class="btn-return color-turquoise border-turquoise bg-black"><</button>
  </nav>
  <nav id = "header_right-nav">
    <a *ngIf="isLogged; else loginButton" id="profile-link" href="../pages/user-page.html">
      <img id="profile-picture" src="../images/icons/man-user-circle-icon.svg" alt="profile picture" height="64" width="64">
    </a>
    <ng-template #loginButton>
      <app-login-button></app-login-button>
    </ng-template>
  </nav>
</header>
