<main>
  <img id="main-image" src="https://i.imgur.com/PtJuAA4.png" alt="The festival image">
  <section id="main-button-section">
    <button mat-stroked-button class="btn-main font-sudovar border-violet color-violet bg-black"
            [routerLink] ="'tickets'" [queryParams] = "{ header:2, footer:true}">
      Comprar Entradas
    </button>
    <button mat-stroked-button class="btn-main font-sudovar border-violet color-violet bg-black"
            routerLink="artists" [queryParams] = "{ header:2, footer:true}">
      Artistas
    </button>
  </section>
  <section id="calendar-section" class="bg-transparent border-turquoise">
    <img src="https://i.imgur.com/jZ3eKMq.png" alt="Event calendar image">
  </section>
  <article id="faq-section">
    <h1 class="color-turquoise font-tektur section-header">FAQ</h1>
    <figure>
      <img class="border-violet" src="https://i.imgur.com/8Yt6Iyo.png" alt="Monkey FAQ image">
    </figure>
    <section id="faq-questions" class="template-container">
      @for (faqEntry of retrievedFaq; track faqEntry['id']; let i = $index) {
        <app-accordion [question]="faqEntry['question']" [answer]="faqEntry['answer']"></app-accordion>
      }
    </section>
  </article>
</main>
