@media (min-width: 992px) {
    button:hover {
        cursor: pointer;
    }


    .btn-return {
        padding: 0.5em 0.75em;
        font-size: 1.3em;
        border-radius: 100%;
        margin: 0.5em 0.5em;
    }


    .btn-submit {
        font-weight: bold;
        margin-top: 1em;
        padding: .5em;
        font-size: 2em;
        width: 9em;
        text-wrap: nowrap;
    }

    .btn-main {
        border-radius: 0.5em;
        text-wrap: nowrap;
        border-width: 3px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        padding: .5em;
        max-width: 300px;
    }

    #dropdown {
        width: 15em;
        border-radius: 0.3em;
        font-style: italic;
        font-size: 1.2em;
        padding-left: .3em;
    }

    #dropdown option {
        font-style: italic;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    button:hover {
        cursor: pointer;
    }


    .btn-return {
        padding: 1rem 1.25rem;
        font-size: 1.5rem;
        border-radius: 100%;
        margin: 0.25rem 0.25rem;
    }


    .btn-submit {
        font-weight: bold;
        margin-top: 1em;
        padding: .5em;
        font-size: 2.5em;
        width: 9em;
        text-wrap: nowrap;
    }

    .btn-main {
        border-radius: 0.5em;
        text-wrap: nowrap;
        border-width: 3px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        padding: .5em;
        max-width: 300px;
    }

    #dropdown {
        width: 15em;
        border-radius: 0.3em;
        font-style: italic;
        font-size: 1.2em;
        padding-left: .3em;
    }

    #dropdown option {
        font-style: italic;
    }
}


@media (max-width: 576px) {
    button:hover {
        cursor: pointer;
    }

    .btn-return {
        padding: 0.25em 0.5em;
        font-size: 1.3em;
        border-radius: 100%;
        margin: 0.5em 0.5em;
    }


    .btn-submit {
        font-weight: bold;
        margin-top: 1em;
        padding: .5em;
        font-size: 1.2rem;
        width: 9em;
        text-wrap: nowrap;
    }

    .btn-main {
        border-radius: 0.5em;
        text-wrap: nowrap;
        border-width: 3px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        padding: .4rem;
        max-width: 300px;
    }

    #dropdown {
        width: 15em;
        border-radius: 0.3em;
        font-style: italic;
        font-size: 1.2em;
        padding-left: .3em;
    }

    #dropdown option {
        font-style: italic;
    }
}