.btn-return {
    padding: 0.5em 0.75em;
    font-size: 1.3em;
    border-radius: 100%;
    margin: 0.5em 0.5em;
}


.btn-submit {
    margin-top: 1em;
    padding: .5em;
    font-size: 1.3em;
    width: 9em;
    text-wrap: nowrap;
    font-weight: bold;
    border-radius: 0.3em;
}

.btn-main {
    border-radius: 0.5em;
    text-wrap: nowrap;
    border-width: 3px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: .5em;
}

#dropdown {
    width: 15em;
    border-radius: 0.3em;
    font-style: italic;
    font-size: 1.2em;
    padding-left: .3em;
}

#dropdown option {
    font-style: italic;
}
