.color-violet {
    color: #AA12FE;
}
.color-turquoise {
    color: #05FCFE;
}

.color-beige {
    color: #FFEA9F;
}

.color-white {
    color: #FFEEFF;
}

.border-violet {
    border-color: #AA12FE;
}

.border-turquoise {
    border: #05FCFE solid 1px;
}

.bg-black {
    background-color: #000000;
}

