.color-violet {
    color: #AA12FE;
}
.color-turquoise {
    color: #05FCFE;
}

.border-violet {
    border-color: #AA12FE;
}

.border-turquoise {
    border-color: #05FCFE;
}

.bg-black {
    background-color: #000000;
}