main {
    height: 30em;
}

.form-box {
    margin: auto;
    overflow: scroll;
    padding: 1.2em;
    width: 60em;
    height: 30em;
    border-radius: 2em;
    border-width: 3px 3px 8px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-box > .form-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-box > .form-header > h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 5em;
    font-weight: 900;
    text-shadow: 0 -2px 0 #FFFFFF
}

.form-box > p {
    padding: 2em 3em 1em 3em;
    font-size: 2em;
    text-align: left;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form > .form-field {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1em;

}

/* TODO: Make the fields look like the mockup */

.form-field > label {
}

.form-field > input {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
}

/*
    TODO:
        El CSS tiene que funcionar para todos los formularios en general
        Los ID de los formularios deberian ser solo para cosas con JS


#login {
    border: 0.2em solid #05FCFE;
    border-bottom-width: .7em;
    border-radius: 1.5em;
    width: 40em;
    height: 26em;
    margin: auto;
}

#register {
    border: 0.2em solid #05FCFE;
    border-bottom-width: .7em;
    border-radius: 1.5em;
    width: 40em;
    height: 45em;
    margin: auto;
}
*/

.form-alternative-link {
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: block;
    text-decoration: none;
    letter-spacing: .01rem;
    line-height: 2em;
}


.terms {
    font-size: 0.75em;
    text-align: left;
    width: 50%;
    font-style: italic;
    margin: .1em;
}