@media (min-width: 835px) {
    main {
        height: 30em;
    }

    .form-box {
        margin: auto;
        padding: 1.2em;
        width: 60em;
        height: 30em;
        border-radius: 2em;
        border-width: 3px 3px 8px 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form-box > .form-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .form-box > .form-header > h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 5em;
        font-weight: 900;
        text-shadow: 0 -2px 0 #FFFFFF
    }

    .form-box > .form-description {
        padding: 2em 3em 1em 3em;
        font-size: 2em;
        text-align: left;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    form > .form-fields {
        display: flex;
    }

    form > .form-fields > .form_label-column {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
    }

    form > .form-fields > .form_input-column {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    form > .form-fields > .form_input-column > input, div {
        margin-left: 1.5em;
    }

    .form-fields label {
        font-size: 1.5em;
        font-weight: bold;
        text-align: right;
    }

    .form-fields input {
        font-size: 1.5em;
        margin-left: 1em;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        background: transparent;
    }

    .form-alternative-link {
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        justify-content: center;
        display: block;
        text-decoration: none;
        letter-spacing: .01rem;
    }

    .form_checkbox-area {
        display: flex;
        margin-top: 1em;
        margin-left: 10em;
    }

    .form_checkbox-area_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_checkbox-area_buttons > input {
        width: 6em;
        height: 1.2em;
        cursor: pointer;
    }

    .form_checkbox-area_labels {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin-left: 1.5em;
        font-size: 1.1em;
        text-align: left;
        font-style: italic;
        text-wrap: auto;
    }
}


/*Tablet screen*/
@media (max-width: 835px){
    main {
        height: 30em;
    }

    .form-box {
        margin: auto;
        padding: 1.2em;
        width: 30em;
        height: 30em;
        border-radius: 2em;
        border-width: 3px 3px 8px 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form-box > .form-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .form-box > .form-header > h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 5em;
        font-weight: 900;
        text-shadow: 0 -2px 0 #FFFFFF
    }

    .form-box > .form-description {
        padding: 2em 3em 1em 3em;
        font-size: 2em;
        text-align: left;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    form > .form-fields {
        display: flex;
    }

    form > .form-fields > .form_label-column {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
    }

    form > .form-fields > .form_input-column {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    form > .form-fields > .form_input-column > input, div {
        margin-left: 1.5em;
    }

    .form-fields label {
        font-size: 1.5em;
        font-weight: bold;
        text-align: right;
    }

    .form-fields input {
        font-size: 1.5em;
        margin-left: 1em;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        background: transparent;
    }

    .form-alternative-link {
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        justify-content: center;
        display: block;
        text-decoration: none;
        letter-spacing: .01rem;
    }

    .form_checkbox-area {
        display: flex;
        margin-top: 1em;
        margin-left: 10em;
    }

    .form_checkbox-area_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_checkbox-area_buttons > input {
        width: 6em;
        height: 1.2em;
        cursor: pointer;
    }

    .form_checkbox-area_labels {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin-left: 1.5em;
        font-size: 1.1em;
        text-align: left;
        font-style: italic;
        text-wrap: auto;
    }
}


/*Mobile screen*/
@media (max-width: 440px) {
    main {
        height: 30em;
    }

    .form-box {
        margin: auto;
        padding: 1.2em;
        width: 15em;
        height: 60em;
        border-radius: 2em;
        border-width: 3px 3px 8px 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form-box > .form-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .form-box > .form-header > h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 5em;
        font-weight: 900;
        text-shadow: 0 -2px 0 #FFFFFF
    }

    .form-box > .form-description {
        padding: 2em 3em 1em 3em;
        font-size: 2em;
        text-align: left;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    form > .form-fields {
        display: flex;
    }

    form > .form-fields > .form_label-column {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
    }

    form > .form-fields > .form_input-column {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    form > .form-fields > .form_input-column > input, div {
        margin-left: 1.5em;
    }

    .form-fields label {
        font-size: 1.5em;
        font-weight: bold;
        text-align: right;
    }

    .form-fields input {
        font-size: 1.5em;
        margin-left: 1em;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        background: transparent;
    }

    .form-alternative-link {
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        justify-content: center;
        display: block;
        text-decoration: none;
        letter-spacing: .01rem;
    }

    .form_checkbox-area {
        display: flex;
        margin-top: 1em;
        margin-left: 10em;
    }

    .form_checkbox-area_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form_checkbox-area_buttons > input {
        width: 6em;
        height: 1.2em;
        cursor: pointer;
    }

    .form_checkbox-area_labels {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin-left: 1.5em;
        font-size: 1.1em;
        text-align: left;
        font-style: italic;
        text-wrap: auto;
    }
}
