@import url('https://fonts.cdnfonts.com/css/sudo-var');
@import url('https://fonts.cdnfonts.com/css/tektur');

/* Fonts */
.font-tektur {
    font-family: 'Tektur', sans-serif;
}

.font-sudovar {
    font-family: 'Sudo Var', sans-serif;
}

.font-style-italic {
    font-style: italic;
}

/* Colors  */
.color-violet {
    color: #AA12FE;
}
.color-turquoise {
    color: #05FCFE;
}

.color-beige {
    color: #FFEA9F;
}

.color-white {
    color: #FFEEFF;
}

.color-faint-white {
    color: rgb(255, 255, 255, 0.65);
}

.border-violet {
    border: #AA12FE solid 1px;
}

.border-turquoise {
    border: #05FCFE solid 1px;
}

.bg-black {
    background-color: #000000;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0.85);
}

.bg-image {
    background-image: url("../images/background-turquoise.png");
    background-attachment: fixed;
    background-size: 100% auto;
}

/* Basic configuration */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

main {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 80vw;
    margin-bottom: 28vh;
}

/* Header bar */
header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    height: 6em;
    width: 100%;
    top: 0;
}

#header_left-nav {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
}

#header_left-nav > h3 {
    letter-spacing: 0.25em;
    font-weight: bold;
    padding: 1vw;
    margin: 1.5em;
}

header > button {
    margin-right: 1vw;
}

.header-text {
    font-style: italic;
    text-align: center;
    text-wrap: auto;
    font-size: 1.8em;
}

header div {
    display: flex;
    justify-content: center;
}

header #logo {
    height: auto;
    transform: translate(-7.75vw, 50px);
}

/* Sections */
.section-header {
    text-align: center;
    font-size: 10em;
    font-weight: 900;
    text-shadow: 0 -.035em 0 #AA12FE;
    padding: .2em;
}

/* Footer bar */

footer {
    display: flex;
    flex-direction: column;
    border-top-style: solid;
    border-top-color: #05FCFE;
    border-top-width: 2px;
    padding: 1em;
}

.footer_row {
    padding-top: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_main-text {
    font-weight: bold;
    font-size: 1.5em;
}

.footer_icon {
    scale: 0.5;
    filter: invert(50%) sepia(100%) hue-rotate(130deg) saturate(500%);
    margin: -1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

