@import url('https://fonts.cdnfonts.com/css/sudo-var');
@import url('https://fonts.cdnfonts.com/css/tektur');

/* Fonts */
.font-tektur {
    font-family: 'Tektur', sans-serif !important;
}

.font-sudovar {
    font-family: 'Sudo Var', sans-serif !important;
}

.font-style-italic {
    font-style: italic !important;
}

/* Colors  */
.color-violet {
    color: #AA12FE !important;
}
.color-turquoise {
    color: #05FCFE !important;
}

.color-beige {
    color: #FFEA9F !important;
}

.color-white {
    color: #FFEEFF !important;
}

.color-faint-white {
    color: rgb(255, 255, 255, 0.65) !important;
}

.border-violet {
    border: #AA12FE solid 1px !important;
}

.border-turquoise {
    border: #05FCFE solid 1px !important;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

body{
    background-image: url("https://i.imgur.com/0dob7Hq.png");
    background-size: 100% auto;
    background-attachment: fixed;
    overflow-x: hidden;
    max-width: 100%;
}

/* Basic configuration */
* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 80vw;
    margin-bottom: 28vh;
}

.text-medium {
  font-size: 2.1em;
}

.center-content {
  margin: auto;
}

@media (max-width: 835px){
    main {
        margin-top: 15vh;
        margin-left: 10vw;
        width: 80vw;
        margin-bottom: 28vh;
    }
}


@media (max-width: 576px){
    main {
        margin-top: 15vh;
        margin-left: 10vw;
        width: 80vw;
        margin-bottom: 28vh;
    }
}
