<footer>
  <p class="footer_row">
    <span class="color-turquoise footer_main-text">Follow Us</span>
    <span class="color-turquoise footer_main-text">Support</span>
  </p>
  <nav class="footer_row">
    <p>
      <a href="https://x.com/kanyewest?git ">
        <img class="footer_icon" src="../images/icons/twitter-icon.svg" alt="twitter icon">
      </a>
      <a href="https://www.youtube.com/@joserafaelmoreyt5311/featured">
        <img class="footer_icon" src="../images/icons/youtube-icon.svg" alt="youtube icon">
      </a>
    </p>
    <span class="color-turquoise">Contact Us</span>
  </nav>
  <nav class="footer_row">
    <p>
      <a href="https://www.tiktok.com/@tiktok_es?lang=es">
        <img class="footer_icon" src="../images/icons/tiktok-icon.svg" alt="tiktok icon">
      </a>
      <a href="https://www.instagram.com/dylancas16/">
        <img class="footer_icon" src="../images/icons/instagram-icon.svg" alt="instagram icon">
      </a>
    </p>
    <p>
      <a href="tel:666666666"><img class="footer_icon" src="../images/icons/telephone-icon.svg" alt="telephone icon"></a>
      <a href="sms:666666666"><img class="footer_icon" src="../images/icons/message-icon.svg" alt="message icon"></a>
      <a href="mailto:pwm@mail.es"><img class="footer_icon" src="../images/icons/email-icon.svg" alt="mail icon"></a>
    </p>
  </nav>
</footer>
