<section id="account-recovery" class="form-box bg-black border-turquoise">
  <div class="form-header">
    <button class="btn-return color-turquoise border-turquoise bg-black"
            onclick="location.href='../index.html'"><</button>
    <h1 class="color-turquoise font-tektur">Account recovery</h1>
  </div>
  <p class="color-faint-white font-style-italic font-sudovar">We will send to you an email to verify your identity and help you recovery your account with us.</p>
  <form id="recovery-form" method="POST" action="#">
    <p class="form-field">
      <label for="email" class="form-label color-turquoise font-sudovar">Email: </label>
      <input class="color-white  font-sudovar" type=email id="email" name="email" placeholder="Email">
    </p>
    <button class="btn-submit color-turquoise border-turquoise font-sudovar bg-black" id="recovery-submit" type="submit">
      Send mail
    </button>
  </form>
</section>