<link rel="stylesheet" href="https://fontawesome.com/icons/twitter?f=brands&s=solid&pc=%23FFD43B&sc=%23FFD43B">
<p>
    <span>Follow Us</span>
    <span>Support</span>
</p>
<p>
    <img src="../images/icons/twitter-icon.svg" alt="twitter icon">
    <img src="../images/icons/youtube-icon.svg" alt="youtube icon">
    <span>Contact Us</span>
</p>
<p>
    <img src="../images/icons/tiktok-icon.svg" alt="tiktok icon">
    <img src="../images/icons/instagram-icon.svg" alt="instagram icon">
    <img src="../images/icons/telephone-icon.svg" alt="telephone icon">
    <img src="../images/icons/message-icon.svg" alt="message icon">
    <img src="../images/icons/email-icon.svg" alt="mail icon">
</p>
