<nav id="header_left-nav">
    <a href="#faq-section"><h3 class="color-violet header-text font-sudovar">Preguntas frecuentes</h3></a>
    <a href="#main-button-section"><h3 class="color-violet header-text font-sudovar">Calendario</h3></a>
</nav>
<div class="header-logo-area">
    <img id="logo" src="../images/logo.png" alt="Logo de pagina">
</div>
<nav id="header_right-nav">
    <button class="btn-main font-sudovar color-violet bg-black border-violet header-text" id="account-section"
            onclick="location.href='login.html'">
        Iniciar Sesion
    </button>
</nav>