<section id="login" class="bg-black border-turquoise">
    <button class="return color-turquoise border-turquoise bg-black"><</button>
    <h1 class="color-turquoise">Login</h1>
    <form id="login_form" method="POST" action="#">
        <p>
            <label class="form-label color-turquoise" for="login_email">Email:</label>
            <input class="color-turquoise" id="login_email" type="email" name="email" placeholder="email">
        </p>
        <p>
            <label class="form-label color-turquoise" for="login_password">Password:</label>
            <input id="login_password" class="color-turquoise" type="password" name="password" placeholder="password">
        </p>
        <input class="action color-turquoise border-turquoise bg-black" id="login-submit" type="submit" value="Log in">
    </form>
    <p>
        <a class="form-alternative-link" href="#">Forgot password?</a>
    </p>
    <p>
        <a class="form-alternative-link" href="#">Register here</a>
    </p>
</section>