<section id="login" class="bg-black">
    <a class="return-btn">Return</a>
    <h1 class="color-turquoise">Login</h1>
    <form id="login_form" method="POST" action="#">
        <p>
            <label class="form-label color-turquoise" for="login_email">Email:</label>
            <input id="login_email" type="email" name="email" placeholder="email">
        </p>
        <p>
            <label class="form-label color-turquoise" for="login_password">Password:</label>
            <input id="login_password" type="password" name="password" placeholder="password">
        </p>
    </form>
    <p>
        <a class="form-alternative-link" href="#">Forgot password?</a>
    </p>
    <p>
        <a class="form-alternative-link" href="#">Register here</a>
    </p>
</section>