<template>
    <section id="register" class="form-box bg-black border-turquoise">
        <div class="form-header">
            <button class="btn-return color-turquoise border-turquoise bg-black"
                    onclick="location.href='../pages/index.html'"><
            </button>
            <h1 class="form-header font-tektur color-turquoise">Sign up</h1>
        </div>
        <form id="register-form" method="POST" action="http://localhost:1337/api/userpages">
            <div class="form-fields">
                <div class="form_label-column">
                    <label for="name" class="form-label font-sudovar color-turquoise">Full name:</label>
                    <label for="email" class="form-label font-sudovar color-turquoise">Email:</label>
                    <label for="phoneNumber" class="form-label font-sudovar color-turquoise">PhoneNumber:</label>
                    <label for="birthdate" class="form-label font-sudovar color-turquoise">Birthdate:</label>
                    <label for="password" class="form-label font-sudovar color-turquoise">Password:</label>
                    <label for="confirmPassword" class="form-label font-sudovar color-turquoise">Confirm:</label>
                </div>
                <div class="form_input-column">
                    <input class="input-box color-white" type=text id="name" name="name" placeholder="Full name" required>
                    <input class="input-box color-white" type=email id="email" name="email" placeholder="Email"
                           required>
                    <input class="input-box color-white" type=tel id="phoneNumber" name="phoneNumber"
                           placeholder="Phone number" required
                           pattern="[0-9]{3}[- ]?[0-9]{3}[- ]?[0-9]{3}"
                           title="Phone number must match XXX-XXX-XXX or XXXXXXXXX with only digits">
                    <input class="input-box color-white birth-input" type=date id="birthdate" name="birthdate" required>
                    <input class="input-box color-white" type=password id="password" name="password" placeholder="Password"
                           required>
                    <p class="color-turquoise font-sudovar">(At least 8 characters, uppercase, lowercase and a number)</p>
                    <input class="input-box color-white" type=password id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm password" required>
                </div>
            </div>

            <div class="form_checkbox-area">
                <div class="form_checkbox-area_buttons">
                    <input type=checkbox id="termsConditions" name="termsConditions" required>
                    <input type=checkbox id="receiveInformation" name="receiveInformation">
                    <input type=checkbox id="notifications" name="notifications">
                </div>
                <div class="form_checkbox-area_labels">
                    <label for="termsConditions" class="form-label font-sudovar color-white">I accept terms of
                        service.</label>
                    <label for="receiveInformation" class="form-label font-sudovar color-white">Receive information on
                        event updates.</label>
                    <label for="notifications" class="form-label font-sudovar color-white">I don't allow notifications.</label>
                </div>
            </div>
            <button class="btn-submit font-sudovar border-turquoise color-turquoise bg-black" id="register-submit"
                    type="submit">OK
            </button>
        </form>
    </section>
</template>

