<template content-data-file="ticket-table">
    <table class="border-violet ticket-table bg-transparent font-sudovar">
        <thead>
        <tr class="color-turquoise">
            <th content-data-key="one-day-header">One day Passes</th>
            <th content-data-key="two-day-header">Two Day Passes</th>
            <th content-data-key="three-day-header">Three Day Passes</th>
        </tr>
        </thead>
        <tbody>
        <tr class="color-turquoise">
            <td content-data-key="one-day-normal-ticket">Normal Ticket XXX$</td>
            <td content-data-key="two-day-normal-ticket">Normal Ticket XXX$</td>
            <td content-data-key="three-day-normal-ticket">Normal Ticket XXX$</td>
        </tr>
        <tr class="color-turquoise">
            <td content-data-key="one-day-early-ticket">Early Access Ticket XXX$</td>
            <td content-data-key="two-day-early-ticket">Early Access Ticket XXX$</td>
            <td content-data-key="three-day-early-ticket">Early Access Ticket XXX$</td>
        </tr>
        <tr class="color-turquoise">
            <td content-data-key="one-day-vip-ticket">VIP Ticket XXX$</td>
            <td content-data-key="two-day-vip-ticket">VIP Ticket XXX$</td>
            <td content-data-key="three-day-vip-ticket">VIP Ticket XXX$</td>
        </tr>
        </tbody>
    </table>
</template>
