<head>
    <link rel="stylesheet" type="text/css" href="../styles/tickets-table.css">
</head>
<article>
    <table class="ticket-table">
        <thead>
            <tr>
                <th id="ticket-table-left-column">One day Passes</th>
                <th id="ticket-table-center-colummn">Two Day Passes</th>
                <th id="ticket-table-right-column">Three Day Passes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="one-day-normal-ticket">Normal Ticket XXX$</td>
                <td id="two-day-normal-ticket">Normal Ticket XXX$</td>
                <td id="three-day-normal-ticket">Normal Ticket XXX$</td>
            </tr>
            <tr>
                <td id="one-day-early-ticket">Early Access Ticket XXX$</td>
                <td id="two-day-early-ticket">Early Access Ticket XXX$</td>
                <td id="three-day-early-ticket">Early Access Ticket XXX$</td>
            </tr>
            <tr>
                <td id="one-day-vip-ticket">VIP Ticket XXX$</td>
                <td id="two-day-vip-ticket">VIP Ticket XXX$</td>
                <td id="three-day-vip-ticket">VIP Ticket XXX$</td>
            </tr>
        </tbody>
    </table>
</article>