<template content-data-file="ticket-table-A">
    <table class="border-violet ticket-table bg-transparent font-sudovar">
        <thead>
        <tr class="color-turquoise">
            <th content-data-key="one-day-header"></th>
            <th content-data-key="two-day-header"></th>
            <th content-data-key="three-day-header"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="color-turquoise">
            <td content-data-key="one-day-normal-ticket"></td>
            <td content-data-key="two-day-normal-ticket"></td>
            <td content-data-key="three-day-normal-ticket"></td>
        </tr>
        <tr class="color-turquoise">
            <td content-data-key="one-day-early-ticket"></td>
            <td content-data-key="two-day-early-ticket"></td>
            <td content-data-key="three-day-early-ticket"></td>
        </tr>
        <tr class="color-turquoise">
            <td content-data-key="one-day-vip-ticket"></td>
            <td content-data-key="two-day-vip-ticket"></td>
            <td content-data-key="three-day-vip-ticket"></td>
        </tr>
        </tbody>
    </table>
</template>
