
<template content-session-data-key="login">
  <div class="form-header">
    <a id="profile-link" href="#">
      <img id="profile-picture" src="../images/icons/man-user-circle-icon.svg" alt="profile picture" height="64" width="64">
    </a>
    <h1 class="color-turquoise font-tektur">Welcome pepe</h1>
  </div>
  <form id="user-page-form">
    <div class="form-fields">
      <div class="form_label-column">
        <label class="form-label color-turquoise font-sudovar">Full name: </label>
        <label class="form-label color-turquoise font-sudovar">Email: </label>
        <label class="form-label color-turquoise font-sudovar">Phone number :</label>
        <label class="form-label color-turquoise font-sudovar">Birthdate: </label>
        <label class="form-label color-turquoise font-sudovar">Your tickets:</label>
      </div>
      <div class="form_input-column color-white font-sudovar">
        <label id="full-name-field" content-data-key="name"> Pepe Jimenez</label>
        <label id="email-field"> good@email.com</label>
        <label id="phone-number-field"> 6AA-BBC-CEV</label>
        <label id="birthdate-number-field"> 28/08/1981</label>
        <label id="tickets"> [none]</label>
      </div>

    </div>

  </form>
</template>