
<template content-session-data-key="user-session">
  <div class="form-header">
    <a id="profile-link" href="#">
      <img id="profile-picture" src="../images/icons/man-user-circle-icon.svg" alt="profile picture" height="64" width="64">
    </a>
    <h1 class="color-turquoise font-tektur">Welcome pepe</h1>
  </div>
  <form id="user-page-form">
    <div class="form-fields">
      <div class="form_label-column">
        <label class="form-label color-turquoise font-sudovar">Full name: </label>
        <label class="form-label color-turquoise font-sudovar">Email: </label>
        <label class="form-label color-turquoise font-sudovar">Phone number :</label>
        <label class="form-label color-turquoise font-sudovar">Birthdate: </label>
        <label class="form-label color-turquoise font-sudovar">Your tickets:</label>
      </div>
      <div class="form_input-column color-white font-sudovar">
        <label id="full-name-field" content-data-key="name"></label>
        <label id="email-field" content-data-key="email"></label>
        <label id="phone-number-field" content-data-key="phone-number"></label>
        <label id="birthdate-number-field" content-data-key="birthdate"></label>
        <label id="tickets" content-data-key="tickets"></label>
      </div>
    </div>
  </form>
  <button id="btn-logout" class="btn-main center-content text-medium font-sudovar bg-black border-violet color-violet">
    Log out
  </button>
</template>