#dropdown {
  width: 15em;
  border-radius: 0.3em;
  font-style: italic;
  font-size: 1.2em;
  padding-left: .3em;
}

#dropdown option {
  font-style: italic;
}

.dropdown-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

@media (min-width: 576px) and (max-width: 992px) {
  #dropdown {
    width: 10em;
    border-radius: 0.3em;
    font-style: italic;
    font-size: 1.2em;
    padding-left: .3em;
  }

  #dropdown option {
    font-style: italic;
  }
}

@media (max-width: 576px) {
  #dropdown {
    width: 9em;
    border-radius: 0.3em;
    font-style: italic;
    font-size: 1.2em;
    padding-left: .5em;
  }

  #dropdown option {
    font-style: italic;
  }
}
