.error {
  border-bottom: 1px solid red !important;
}

.text-error {
  color: red;
}

.btn-submit {
  height: 2em;
  width: 9em;
  font-family: 'Sudo Var', sans-serif !important;
  border-radius: 0;
  font-weight: bold;
  margin-top: 1em;
  padding: .5em;
  font-size: 2em;
  text-wrap: nowrap;
}

.form-box {
  margin: auto;
  max-width: 100%;
  border-radius: 2em;
  border-width: 3px 3px 8px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-box > .form-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-box > .form-header > h1 {
  flex-grow: 1;
  text-align: center;
  font-weight: 900;
  text-shadow: 0 -2px 0 #FFFFFF;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-fields {
  display: flex;
}

.form_label-column,
.form_input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: .5em;
}

.form_label-column {
  align-items: end;
}

.form_input-column {
  align-items: start;
}

.form_input-column > input,
.form_input-column > div {
  margin-left: 1.5em;
}

.form-fields label {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
}

.form-fields input {
  font-size: 1.5em;
  margin-left: 1em;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background: transparent;
}

.form_checkbox-area_buttons{
  --mat-checkbox-label-text-color: #FFEEFF;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mat-checkbox {
  margin-left: 1.5em;
  font-size: 1.1em;
  text-align: left;
  text-wrap: auto;
}

@media (min-width: 992px) {
  .btn-submit {
    font-weight: bold;
    margin-top: 1em;
    padding: .5em;
    font-size: 2.5em;
    width: 9em;
    text-wrap: nowrap;
  }

  .form-box {
    width: 60rem;
    height: 40rem;
  }

  .form-box > .form-header > h1 {
    font-size: 5em;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  section {
    overflow: hidden;
  }

  .form-box {
    width: 55rem;
    height: 55rem;
  }

  .form-box > .form-header > h1 {
    font-size: 3.5em;
  }

  .form-fields label {
    line-height: 1.75em;
  }

  .mat-checkbox {
    height: 1.75em;
    font-size: 1.35em;
    line-height: 1.5em;
  }
}

@media (max-width: 576px) {
  section {
    overflow: hidden;
  }

  .form-box {
    width: 20rem;
    height: 38rem;
  }

  .form-box > .form-header > h1 {
    font-size: 2.5em;
  }

  .form_input-column > input,
  .form_input-column > div {
    justify-content: space-between;
  }

  .form_label-column {
    display: none;
  }
}
