<footer>
    <!-- TODO: Add required "width" and "height" attribute to icons -->
    <p class="footer_row">
        <span class="color-turquoise footer_main-text">Follow Us</span>
        <span class="color-turquoise footer_main-text">Support</span>
    </p>
    <nav class="footer_row">
        <p>
            <a [attr.href]="twitterLink">
                <img class="footer_icon" [ngSrc]="twitterIconLink" alt="twitter icon" width="24" height="24">
            </a>
            <a [attr.href]="youtubeLink">
                <img class="footer_icon" [ngSrc]="youtubeIconLink" alt="youtube icon" width="24" height="24">
            </a>
        </p>
        <span class="color-turquoise">Contact Us</span>
    </nav>
    <nav class="footer_row">
        <p>
            <a [attr.href]="tiktokLink">
                <img class="footer_icon" [ngSrc]="tiktokIconLink" alt="tiktok icon" width="24" height="24">
            </a>
            <a [attr.href]="instagramLink" target="_blank" rel="noopener noreferrer">
                <img class="footer_icon" [ngSrc]="instagramIconLink" alt="instagram icon" width="24" height="24">
            </a>
        </p>
        <p>
            <a [attr.href]="'tel:' + telephoneNumber"><img class="footer_icon" [ngSrc]="telephoneIconLink" alt="telephone icon" width="24" height="24"></a>
            <a [attr.href]="'sms:' + messageNumber"><img class="footer_icon" [ngSrc]="messageIconLink" alt="message icon" width="24" height="24"></a>
            <a [attr.href]="'mailto:' + email"><img class="footer_icon" [ngSrc]="emailIconLink" alt="mail icon" width="24" height="24"></a>
        </p>
    </nav>
</footer>
