.artist-banner {
  margin-top: 2rem;
  height: 10rem;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  border-radius: .5rem;
}

.artist-banner > img {
  margin-left: -5vw;
  margin-top: -8vh;
  height: 40vh;
  width: auto;
}

.artist-banner > .date-caption {
  padding: 1rem;
  width: 10rem;
  text-align: left;
}

.artist-banner > .artist-caption {
  border-width: 2px;
  position: absolute;
  margin-top: 7rem;
  left: 6.5vw;
  width: 20rem;
  text-align: center;
  padding: 0.4rem 0 1rem 0;
  font-size: 2em;
  font-weight: bold;
}



@media (max-width: 758px){
  .artist-banner > img {
    height: 30vh;
    margin-top: .001vh;
    margin-left: -10vw;
    width: auto;
  }
}


@media (max-width: 615px){
  .artist-banner {
    display: flex;
    flex-direction: column;
    height: 20rem;
  }
  .artist-banner > img {
    flex-shrink: 0;
    height: 30vh;
    margin-top: .001vh;
    margin-left: -10vw;
    width: auto;
  }

  .artist-banner > .artist-caption {
    margin-top: 11rem;
    font-size: 1.2rem;
    width: 10rem;
  }


}
